
body {
    width: 80%;
    margin: auto;
    font-family: Lustria, Arial;
    background-color: #e9ffe9;
}

.foot
{
    font-size: 1em;
    font-style: italic;
    font-family: Lustria, Arial;
}

#accueil {
    /*border: 2px gray double;*/
    /*background-color: lightblue;*/
    width: 50%;
    margin: auto;
    box-shadow: #ffcc99 5px 5px 4px;
    background-color: white;
}

#dplat
{
    width: 70%;
    margin: auto;
}

.dimage, .dcaract
{
    max-width: 35%;
    display: inline-block;
    vertical-align: top;
    
}

#accueil h1 {
    color: lightseagreen;
    text-align: center;
}

.paccueil {
    font-size: 1.5em;
    margin-left: 15%;
}

.dimage , .ptitre{
    width: 500px;
    margin: auto;
}

.dimage {
    padding-left: 3%;
    border-right: 1px solid black;
}

.ptitre {
    margin-top: 50px;
    margin-bottom: 50px;
}
.contenu {
    display: inline-block;
    vertical-align: top;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 45%;
    
    background-color: #99ff99;
    /*border: 1px solid black;*/
    margin-top: 20px;
    /*border-radius: 10px;*/
    padding-left: 5%;
    padding-right: 3%;
    margin-left: 5%;
    box-shadow: #ffcc99 5px 5px 4px;
}

.catdescription {
    text-align: center;
}

.lienpanier {
    text-align: right;
}

.lienpanier a {
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    color: white;
}

.lienpanier a:hover {
    font-weight: bold;
    background-color: white;
    color: green;
}

#panier
{
    margin-left: 25%;
    margin-right: 25%;
    border: 0;
    padding: 0;
    display: inline-block;
    background-color: blue;
    text-align: center;
}

.headerrow
{
    font-weight: bold;
}

table tr,th,td
{
    box-sizing: content-box;
    margin: 0;
    padding: 1em;
    border: 1px;
    border-color: black;
    border-style: solid;
}

table
{
    border-collapse: collapse;
    display: inline-block;
    background-color: aliceblue;
}

#titre h1,h3
{
    text-align: center;
    font-family: Yeseva One, Arial;
}

#titre h1
{
    font-size: 3em;
}

#lienpanier
{
    text-align: right;
}

#divaff
{
    width: 50%;
    margin: auto;
}

#paff
{
    text-align: center;
    font-size: 2em;
}

a
{
    text-decoration: none;
    color: darkgreen;
}

a:hover
{
    text-decoration: underline;
}

.titretheme
{
    font-family: Yeseva One;
}

.catdescription
{
    font-style: italic;
}