
body {
    width: 80%;
    margin: auto;
}

#accueil {
    border: 2px gray double;
    background-color: lightgray;
    width: 50%;
    margin: auto;
}

#accueil h1 {
    color: red;
    text-align: center;
}

.paccueil {
    font-size: 1.2em;
    margin-left: 15%;
}

.contenu {
    display: inline-block;
    vertical-align: top;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 45%;
    
    background-color: #99ff99;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 3%;
    margin-left: 5%;
    box-shadow: #ffcc99 5px 5px 4px;
}

.catdescription {
    text-align: center;
}

.lienpanier {
    text-align: right;
}

.lienpanier a {
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    color: white;
}

.lienpanier a:hover {
    font-weight: bold;
    background-color: white;
    color: green;
}

